<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to our site</h1>
<a href="/upload">Click Here to upload an image!</a>
<form action="/login/" method=post enctype="multipart/form-data">
    {{ string |safe}}
    <input name="username" type="text" title="Username">
    <br>
    <input type="password" name="password" title="password">
    {% csrf_token %}
    <input type="submit">
</form>
</body>
</html>