<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/style/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style/css/plugins.css" rel="stylesheet">
    <link href="/static/style/css/prettify.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,800,700,600,500,300' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet'
          type='text/css'>
    <link href="/static/style/type/budicons.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Flower Recognized</title>
</head>
<body id="bbb" style="background: transparent">
<div class="row">
    <div class="col-sm-6">
        <h1>{{ flower_name }}</h1>
        <h4>{{ hebrew_name }}</h4>
        <h3>Read More:</h3>
        <p>{{ data }}</p>
    </div>
    <div class="col-sm-6 lp5">
        <h4>Flower's correct image:</h4>
        <img src="{{ flower_image }}" style="max-width: 330px;max-height: 330px"
             class="img-rounded">
        <h4>Your image:</h4>
        <img src="{{ uploaded_image }}" style="max-width: 330px;max-height: 330px"
             class="img-rounded">
        <h7>Not the Same?<br></h7>
        <a class="btn btn-red" href="/report/{{ id }}" onclick="document.getElementById('bbb').style.display='none'">Report us</a>
    </div>
</div>
<script>
    function report(event) {
        self
        window.location.href='\';
    }
</script>
<div>
    <div class="row text-center services-3 facts">
        <div class="col-sm-3">
            <div class="col-wrapper"><i class="budicon-target"></i>
                <h4>{{ precents }}%</h4>
                <p>Precents sure</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-wrapper"><i class="budicon-search"></i>
                <h4>{{ last_searched }}</h4>
                <p>Last searched
                </p>
            </div>
        </div>
    </div>
</div>
</div>


</body>
</html>