<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/style/images/favicon.png">
    <title>CyFlower</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/style/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style/css/plugins.css" rel="stylesheet">
    <link href="/static/style/css/prettify.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,800,700,600,500,300' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet'
          type='text/css'>
    <link href="/static/style/type/budicons.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/style/js/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="full-layout">
<div id="preloader">
    <div id="status">
        <div class="spinner"></div>
    </div>
</div>
<div class="body-wrapper">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header"><a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i
                class="budicon-list"></i></a>
            <div class="navbar-brand text-center"><a href=""><img src="/static/style/images/logo.png"
                                                                                    style="max-width: 100%" alt=""
                                                                                    data-src="/static/style/images/logo.png"
                                                                                    data-ret="/static/style/images/logo@2x.png"
                                                                                    class="retina"/></a></div>
            <!-- /.navbar-brand -->
        </div>
        <!-- /.navbar-header -->
        <form>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="current"><a href="/logout" class="hint--right" data-hint="Logout"><i
                            class="budicon-undo"></i><span>Home</span></a></li>

                    <li><a href="#upload" class="hint--right" data-hint="Upload"><i
                            class="budicon-cloud-upload"></i><span>Upload</span></a></li>
                    </li>

                </ul>
                <!-- /.navbar-nav -->
            </div>
            <!-- /#elsewhere -->
        </form>
    </nav>
    <!-- /.navbar -->

    <!-- /#home -->

    <div class=" container" id="good">
        <section id="upload" class="">
            <div class="box form-container">
                <h1>Upload Here:</h1>
                <form method="post" action="/upload" target="res_form" enctype="multipart/form-data"
                      onsubmit="document.getElementById('res_div').style.display='inherit'">
                    {% csrf_token %}
                    <div class="col-sm-6">
                        <input type="file" class="btn" accept="image/*" onchange="FileChange(event)" name="file"
                               id="file"
                               id="img" value="Image">
                        <input type="submit" class="btn btn-greem" value="Upload!" required="required"
                               style="max-width:90px">
                    </div>
                    <div class="col-sm-6 lp5">
                        <h3>You've uploaded:</h3>
                        <img src="" id="image" style="display: none;max-height: 110px;max-width: 100%">
                    </div>
                </form>

            </div>
            <!-- /.box -->

            <div id="res_div" style="display: none" title="Result">
                <iframe name="res_form" class="box" width="100%" height="1024px" style="">

                </iframe>
            </div>

            <!-- /.box -->
        </section>
        <!-- /#portfolio -->
        <!-- /#about -->
        <!-- /#contact -->

        <footer class="footer">
            <p class="pull-left text-info">Theme by <a
                    href="http://elemisfreebies.com">elemis</a>.</p>
        </footer>
        <!-- /footer -->

    </div>
    <!-- /.container -->
</div>
<!-- /.body-wrapper -->
<script>
    function FileChange(event) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();

        var big = document.getElementById("image");
        big.title = selectedFile.name;
        big.style.display = 'inline';
        reader.onload = function (event) {
            big.src = event.target.result;
        };
        reader.readAsDataURL(selectedFile);
    }
</script>
<script src="/static/style/js/jquery.min.js"></script>
<script src="/static/style/js/bootstrap.min.js"></script>
<script src="/static/style/js/jquery.themepunch.tools.min.js"></script>
<script src="/static/style/js/classie.js"></script>
<script src="/static/style/js/plugins.js"></script>
<script src="/static/style/js/scripts.js"></script>
<script>
    $.backstretch(["/static/style/images/art/bg3.jpg"]);
</script>
</body>
</html>
